<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>uni4E7E</key>
    <string>uni4E_7E_.glif</string>
    <key>uni56D7</key>
    <string>uni56D_7.glif</string>
    <key>uni56DD</key>
    <string>uni56D_D_.glif</string>
    <key>uni56E1</key>
    <string>uni56E_1.glif</string>
    <key>uni56E4</key>
    <string>uni56E_4.glif</string>
    <key>uni56EE</key>
    <string>uni56E_E_.glif</string>
    <key>uni56F0</key>
    <string>uni56F_0.glif</string>
    <key>uni5703</key>
    <string>uni5703.glif</string>
    <key>uni5704</key>
    <string>uni5704.glif</string>
    <key>uni5708</key>
    <string>uni5708.glif</string>
    <key>uni5709</key>
    <string>uni5709.glif</string>
    <key>uni570B</key>
    <string>uni570B_.glif</string>
    <key>uni570D</key>
    <string>uni570D_.glif</string>
    <key>uni5712</key>
    <string>uni5712.glif</string>
    <key>uni5713</key>
    <string>uni5713.glif</string>
    <key>uni5716</key>
    <string>uni5716.glif</string>
    <key>uni571C</key>
    <string>uni571C_.glif</string>
    <key>uni701A</key>
    <string>uni701A_.glif</string>
    <key>uni8B4F</key>
    <string>uni8B_4F_.glif</string>
    <key>comma.full</key>
    <string>comma.full.glif</string>
    <key>semicolon.full</key>
    <string>semicolon.full.glif</string>
    <key>comma.full.vert</key>
    <string>comma.full.vert.glif</string>
    <key>overlinedblwavy</key>
    <string>overlinedblwavy.glif</string>
    <key>overlinewavy</key>
    <string>overlinewavy.glif</string>
    <key>ringcomb</key>
    <string>ringcomb.glif</string>
    <key>tildecomb</key>
    <string>tildecomb.glif</string>
    <key>commaturnedabovecomb</key>
    <string>commaturnedabovecomb.glif</string>
    <key>commaturnedabovecomb.case</key>
    <string>commaturnedabovecomb.case.glif</string>
  </dict>
</plist>
